/ {
    key-matrix {
        compatible = "zmk,key-matrix";
        rows = <4>;
        columns = <5>;
        diode-direction = "COL2ROW";

        row-gpios = <
            &gpio0 0 GPIO_ACTIVE_LOW
            &gpio0 1 GPIO_ACTIVE_LOW
            &gpio0 2 GPIO_ACTIVE_LOW
            &gpio0 3 GPIO_ACTIVE_LOW
        >;

        col-gpios = <
            &gpio0 4 GPIO_ACTIVE_LOW
            &gpio0 5 GPIO_ACTIVE_LOW
            &gpio0 6 GPIO_ACTIVE_LOW
            &gpio0 7 GPIO_ACTIVE_LOW
            &gpio0 8 GPIO_ACTIVE_LOW
        >;

        // Left side key positions
        key-pos-left = <
            0  1  2  3  4  // Row 0
            10  11  12  13  14  // Row 1
            20 21 22 23 24 // Row 2
            32 33 34       // Row 3
        >;

        // Right side key positions
        key-pos-right = <
            5  6  7  8  9  // Row 0
            15  16  17  18  19  // Row 1
            25 26 27 28 29 // Row 2
            35 36 37       // Row 3
        >;
    };
};
