/ {
    key-matrix {
        compatible = "zmk,key-matrix";
        rows = <4>;
        columns = <5>;
        diode-direction = "COL2ROW";

        row-gpios = <
            &gpio0 0 GPIO_ACTIVE_LOW
            &gpio0 1 GPIO_ACTIVE_LOW
            &gpio0 2 GPIO_ACTIVE_LOW
            &gpio0 3 GPIO_ACTIVE_LOW
        >;

        col-gpios = <
            &gpio0 4 GPIO_ACTIVE_LOW
            &gpio0 5 GPIO_ACTIVE_LOW
            &gpio0 6 GPIO_ACTIVE_LOW
            &gpio0 7 GPIO_ACTIVE_LOW
            &gpio0 8 GPIO_ACTIVE_LOW
        >;

        // Left side key positions
        key-pos-left = <
            0  1  2  3  4  // Row 0
            5  6  7  8  9  // Row 1
            10 11 12 13 14 // Row 2
            15 16 17       // Row 3
        >;

        // Right side key positions
        key-pos-right = <
            4  3  2  1  0  // Row 0
            9  8  7  6  5  // Row 1
            14 13 12 11 10 // Row 2
            17 16 15       // Row 3
        >;
    };
};
